@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"] {
  cursor: pointer;
  border: none; }

input {
  border: none; }

textarea {
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  border: none;
  cursor: pointer; }

/*%-шаблон*/
.inner::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.inner > * {
  display: inline-block;
  vertical-align: middle; }

.grey-bg {
  background: #deeaea; }

.blue-bg {
  background: #30436b; }

.white-bg {
  background: #fff; }

.orange-text {
  color: #f26523; }

.orange-bg {
  color: #f26523; }

.sub {
  font-size: 12px;
  color: inherit; }

.blue-text {
  font-weight: bold;
  color: #30436b; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.jq-checkbox,
.jq-radio {
  vertical-align: -4px;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer; }

.jq-checkbox.focused,
.jq-radio.focused {
  border: 1px solid #08C; }

.jq-checkbox.disabled,
.jq-radio.disabled {
  opacity: .55; }

.jq-checkbox {
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #666;
  -webkit-box-shadow: inset 0 -3px 6px #AAA;
          box-shadow: inset 0 -3px 6px #AAA; }

.jq-radio {
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #777;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
          box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7); }

.jq-file {
  width: 270px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.jq-file input {
  cursor: pointer; }

.jq-file__name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333; }

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF; }

.jq-file:hover .jq-file__browse {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

.jq-file.focused .jq-file__name {
  border: 1px solid #5794BF; }

.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 36px 0 0; }

.jq-number__field {
  width: 100px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); }

.jq-number__field:hover {
  border-color: #B3B3B3; }

.jq-number__field input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333; }

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #FFF;
  cursor: pointer; }

.jq-number__spin.minus {
  top: auto;
  bottom: 0; }

.jq-number__spin:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-number__spin:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent; }

.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent; }

.jq-number__spin.minus:hover:after {
  border-top-color: #000; }

.jq-number__spin.plus:hover:after {
  border-bottom-color: #000; }

.jq-number.focused .jq-number__field {
  border: 1px solid #5794BF; }

.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #AAA; }

.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #AAA; }

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer; }

.jq-selectbox__select {
  position: absolute;
  top: 0;
  height: 57px;
  width: 220px;
  padding: 0 45px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF; }

.jq-selectbox__select:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-selectbox__select:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5794BF; }

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-selectbox__select-text {
  display: block;
  /*width: 100%;*/
  padding-top: 10px; }

.jq-selectbox .placeholder {
  color: #888;
  padding: 9px 0 0 0;
  font-size: 16px; }

.jq-selectbox__trigger {
  position: absolute;
  top: 13px;
  left: 180px;
  width: 34px;
  border-left: 1px solid #CCC; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000; }

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA; }

.jq-selectbox__dropdown {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  margin: 42px 0 0;
  padding: 0;
  /*border: 1px solid #CCC;*/
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif;
  z-index: 999; }

.jq-selectbox__search {
  margin: 5px; }

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==") no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  color: #333; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #231F20; }

.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF; }

.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF; }

.jq-selectbox li.disabled {
  color: #AAA; }

.jq-selectbox li.disabled:hover {
  background: none; }

.jq-selectbox li.optgroup {
  font-weight: bold; }

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default; }

.jq-selectbox li.option {
  padding-left: 25px; }

.jq-select-multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default; }

.jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none; }

.jq-select-multiple li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.jq-select-multiple li.disabled {
  color: #AAA; }

.jq-select-multiple li.optgroup {
  font-weight: bold; }

.jq-select-multiple li.option {
  padding-left: 25px; }

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333; }

input[type='search'].styler {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea.styler {
  overflow: auto; }

input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3; }

input[type='email'].styler:hover:focus,
input[type='password'].styler:hover:focus,
input[type='search'].styler:hover:focus,
input[type='tel'].styler:hover:focus,
input[type='text'].styler:hover:focus,
input[type='url'].styler:hover:focus,
textarea.styler:hover:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer; }

button.styler.styler::-moz-focus-inner,
input[type='button'].styler.styler::-moz-focus-inner,
input[type='submit'].styler.styler::-moz-focus-inner,
input[type='reset'].styler.styler::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

button.styler:active,
input[type='button'].styler:active,
input[type='submit'].styler:active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.admin-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -97px;
  width: 29px;
  height: 30px; }

.apartment-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -62px;
  width: 35px;
  height: 35px; }

.commers-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -34px;
  width: 35px;
  height: 34px; }

.crime-ic {
  background-image: url(../img/sprite.png);
  background-position: -62px 0px;
  width: 35px;
  height: 35px; }

.earth-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px; }

.hands-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px 0px;
  width: 35px;
  height: 34px; }

.home-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -62px;
  width: 27px;
  height: 35px; }

.keys-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -97px;
  width: 35px;
  height: 33px; }

.people-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -62px;
  width: 35px;
  height: 35px; }

.resident-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -97px;
  width: 35px;
  height: 34px; }

.search-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -68px;
  width: 19px;
  height: 19px; }

.container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 10px; }

.row {
  margin: 0 -10px; }

.icon {
  display: inline-block; }

.form-control {
  display: inline-block;
  height: 57px;
  padding: 0 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #7e878d;
  font-size: 16px; }

.form-btn {
  display: inline-block;
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  font-weight: 600;
  background: #f26523;
  padding: 0 27px; }
  .form-btn:hover {
    background: #d0551e; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    margin-right: 50px; }
    input[type="checkbox"] + label::before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 18px;
      background: #fff;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      margin-right: 14px; }
  input[type="checkbox"]:checked + label {
    color: red; }
    input[type="checkbox"]:checked + label::before {
      background: #fff url("../../app/img/chekbox-checked.png") center no-repeat; }

.simple-text-block {
  padding: 27px 0;
  font-size: 18px;
  color: #2f2f33;
  border-bottom: 2px solid #3c575a; }

.btn {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  font-size: 16px;
  padding: 0 25px; }
  .btn.white-btn {
    border-color: #fff;
    color: #fff; }
    .btn.white-btn:hover {
      background: #fff;
      color: #30436b; }
  .btn.orange-btn {
    border-color: #f26523;
    color: #f26523; }
    .btn.orange-btn:hover {
      background: #f26523;
      color: #fff; }

.header {
  height: 80px;
  width: 100%;
  background: #fff; }
  .header .logo {
    float: left;
    margin-top: 15px; }
  .header .header-nav {
    margin-top: 25px;
    float: right; }
    .header .header-nav li {
      display: inline-block;
      padding-left: 25px; }
      .header .header-nav li a {
        font-size: 16px; }
        .header .header-nav li a:hover {
          color: #f26523; }
      .header .header-nav li .search {
        width: 200px;
        border: 2px solid black;
        display: none; }

.inner {
  height: -webkit-calc( 100vh - -80px);
  height: calc( 100vh - -80px);
  background: url("../../app/img/inner-bg.png") no-repeat top center;
  background-size: cover;
  text-align: center; }
  .inner .inner-block {
    color: #fff; }
    .inner .inner-block h1 {
      font-size: 72px;
      font-weight: 700; }
    .inner .inner-block > span {
      font-size: 28px;
      font-weight: 300;
      color: #bfbfc1;
      display: inline-block;
      margin-top: 25px; }
    .inner .inner-block .inner-form {
      padding: 25px 37px;
      background: rgba(0, 0, 0, 0.45);
      margin-top: 40px;
      text-align: left; }
      .inner .inner-block .inner-form .first-form .form-control {
        width: 325px; }
      .inner .inner-block .inner-form input + input, .inner .inner-block .inner-form select + input {
        margin-left: 4px; }
      .inner .inner-block .inner-form .more-option-btn {
        cursor: pointer;
        display: inline-block;
        margin-top: 10px; }
      .inner .inner-block .inner-form .more-option-form {
        display: none; }
        .inner .inner-block .inner-form .more-option-form .input-group {
          position: relative;
          margin-top: 15px; }
  .inner .All-Languages {
    display: inline-block;
    width: 220px;
    margin-right: 4px;
    margin-top: 17px; }

.service-wrap {
  padding: 55px 0 55px 0;
  overflow: hidden;
  line-height: 24px; }
  .service-wrap .service-item {
    float: left;
    padding: 0 10px 35px 0;
    width: 33.3333%; }
    .service-wrap .service-item .title {
      color: #f26523;
      font-size: 20px; }
      .service-wrap .service-item .title span {
        font-weight: 600; }
    .service-wrap .service-item p {
      width: 63%;
      font-size: 16px;
      line-height: 24px; }

.category-wrap {
  padding: 60px 0 75px 0;
  overflow: hidden; }
  .category-wrap > .container > .title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: center; }
  .category-wrap .news-row {
    overflow: hidden;
    margin: 50px 0; }
  .category-wrap .news-post {
    width: 33.3333%;
    float: left; }
    .category-wrap .news-post + .news-post {
      padding-left: 25px; }
    .category-wrap .news-post .news-content {
      background: #fff;
      border-top: 6px solid #90bed5;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      padding: 20px;
      min-height: 175px; }
      .category-wrap .news-post .news-content span {
        display: inline-block;
        color: #7f868a;
        padding: 4px 0 20px 0;
        font-size: 20px; }
      .category-wrap .news-post .news-content p {
        line-height: 15px; }

.category-btn {
  margin-top: 43px;
  text-align: center; }
  .category-btn .btn {
    margin: 0 12px; }

.inner-slick > .container > .title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px; }

.slick-block {
  font-size: 16px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 45px;
  line-height: 45px; }

.slick-prev::before, .slick-prev::after, .slick-next::before, .slick-next::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #f26523;
  position: absolute; }

.slick-arrow {
  position: absolute;
  top: 30%;
  background: transparent;
  border: none;
  color: transparent; }

.slick-prev {
  left: -100px; }

.slick-next {
  right: -100px; }

.slick-prev::before {
  top: 2px;
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.slick-prev::after {
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.slick-next::before {
  top: 2px;
  right: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.slick-next::after {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.btn-wrap {
  padding: 60px 0 70px 0;
  text-align: center; }
  .btn-wrap .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px; }
    .btn-wrap .title span {
      color: #515a60; }

.country-block {
  margin-bottom: 60px; }

.country-list {
  -webkit-border-radius: 1px;
          border-radius: 1px;
  overflow: hidden;
  background: #f26523;
  text-align: center; }
  .country-list .earth-icon {
    padding: 20px 0;
    width: 33.33333%;
    float: left; }
    .country-list .earth-icon > span {
      vertical-align: middle;
      margin-left: 30px;
      font-size: 20px;
      color: #fff; }
  .country-list .country-nav {
    width: 50%;
    float: right; }
    .country-list .country-nav .block {
      padding: 32px 0;
      float: left;
      width: 33.3333%;
      border-left: 1px solid grey; }
      .country-list .country-nav .block span {
        color: grey;
        color: #aa481a; }
      .country-list .country-nav .block a {
        display: block;
        margin-bottom: 10px;
        color: #fff;
        font-size: 16px; }

.btn-row {
  text-align: center; }
  .btn-row .btn {
    margin: 0 10px;
    margin-bottom: 30px; }

.interview-block {
  overflow: hidden;
  margin-bottom: 50px; }
  .interview-block .interview-btn {
    padding: 50px 0;
    float: right; }
    .interview-block .interview-btn a {
      margin-left: 40px; }
  .interview-block .question-block {
    float: left;
    width: 50%;
    padding: 40px 0; }
    .interview-block .question-block .title {
      font-size: 20px;
      color: #fff;
      margin-bottom: 10px; }
    .interview-block .question-block p {
      color: #fff;
      line-height: 15px; }

.footer {
  text-align: center;
  margin-bottom: 30px; }
  .footer .logo {
    margin-bottom: 30px; }
  .footer .footer-nav li {
    margin-left: -30px;
    list-style-type: none;
    margin-bottom: 30px; }
    .footer .footer-nav li a {
      margin-left: 30px;
      text-transform: uppercase;
      font-weight: bold;
      color: #515a60; }
  .footer span {
    color: #515a60; }
